.DS_Store

# Ignore bundler config.
/.bundle
config/keys_dev.js
config/keys_dev
# Ignore npm packages.
/node_modules
/frontend/node_modules

# Ignore sensitive keys.
./config/keys_dev.js
node_modules
node_modules
node_modules

/frontend/src/components/Profile/ProfileHeader/alleve_profile_pic.png

/pdfs

# AlleveResults-69b2811f798f.json