.Rectangle-33 {
  width: 100%;
  height: 117px;
  border: solid 1px #707070;
  background-color: #004890;
}



.footer-contents{
  // border: 1px solid red;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  .left-footer{
    // border: 1px solid white;
    width: 50%;
    height: 100%;
    display: flex;
    .footer-logo{
      // border: 1px solid white;
      width: 352px;
      height: 45px;
      margin-top: 22px;
      margin-left: 5%;
      text-align: center;
      color: white;
    }
  }
  .right-footer{
    // border: 1px solid white;
    width: 49%;
    height: 100%;
    display: flex;
    .email {
      // border: 1px solid;
      width: 70%;
      height: 87px;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.35;
      letter-spacing: normal;
      text-align: right;
      color: #fbfbfb;
    }
    .mobile-email{
      display: none;
    }
    .phone {
      // border: 1px solid;
      width: 30%;
      height: 87px;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.35;
      letter-spacing: normal;
      text-align: right;
      color: #fbfbfb;
      white-space: nowrap;
      text-align: right;
    }
  }
}

@media screen and (max-width:1080px){
  .footer-contents{
    .right-footer{
      .email{
        width: 60%;
      }
      .phone{
        width: 40%;
      }
    }
  }
}

@media screen and (max-width:900px){
  .footer-contents{
    .left-footer{
      width: 30%;
    }
    .right-footer{
      width: 70%;
      .email{
        width: 50%;
      }
      .phone{
        width: 50%;
      }
    }
  }
}
@media screen and (max-width:600px){
  .footer-contents{
    .left-footer{
      width: 30%;
    }
    .right-footer{
      width: 70%;
      .email{
        width: 50%;
        font-size: 16px;
      }
      .phone{
        width: 50%;
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width:480px){
  .footer-contents{
    .left-footer{
      width: 50%;
    }
    .right-footer{
      width: 49%;
      .email{
        display: none;
      }
      .mobile-email{
        display: block;
        font-size: 13px;
        text-align: right;
      }
      .phone{
        margin-top: 13px;
        width: 100%;
        text-align: right;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width:350px){
  .footer-contents{
    .right-footer{
      width: 49%;
      .mobile-email{
        font-size: 11px;
      }
      .phone{
        font-size: 11px;
      }
    }
  }
}