
.square {
  width: 500px;
  height: 400px;
  margin: 20px auto;
  opacity: 0.32;
  border: solid 1px #707070;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.squareContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  /* font-family: OpenSans; */
  font-size: 41px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  color: #000000;
  text-align: center;
}

#title {
  height: 27px;
  /* font-family: OpenSans; */
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  flex-wrap: nowrap;
  color: #ffffff;
}
