.container {
  display: flex;
  justify-content: center;
}

#container2 {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

#paragraph {
  width: 232px;
  height: 384px;
}

p {
  font-family: OpenSans;
  font-size: 18px;
}

.h4 {
  border-radius: 17px;
  border: solid 3px #000000;
  width: 232px;
  height: 48px;
  margin: 0 auto;
  padding-top: 5px;
  text-align: center;
  font-size: 23px;
  padding-top: 10px;
}
