
.long-ban-mod-cont{
  width: 100%;
  height: 297px;
  display:flex;
  flex-direction: row;
  align-items: center;
}


.type-1-cont{
  justify-content: center;
  .typ1-cont-cntt{
    text-align: center;
    span{
      text-transform: uppercase;
      // color:white;
      color:black;
      font-size:30px;
      font-weight: 700;
    }
  }
} 

.type-2-cont{
  justify-content: flex-start; 
  // border: 1px solid black;
  .typ2-cont-cont{
    display:flex;
    width: 20%;
    align-items: center;
    justify-content:center;
    height: 60%;
    border-right: 2px solid black;
    // border-right: 2px solid lightgray;

    span{
      text-transform: uppercase;
      // color:white;
      color:black;
      font-size:18px;
    }
  }

}
.type-3-cont{
  justify-content: center;

  .typ3-cont-cont{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border:1px dotted black;
    text-align: center;
    .big-sp{
      font-size:24px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .small-sp{
      font-size:18px;
      text-transform: capitalize;
    }
    a{
      text-emphasis: none;
      text-decoration: none;
      color:black;
      border:1px solid black;
      padding: 5px 20px;
      border-radius: 5px; 
    }
  }
}
