.circle {
  width: 404px;
  height: 413px;
  margin: 96px 11px 474px 8px;
  padding: 173px 143px 172px;
  opacity: 0.2;
  background-color: #000000;
  border-radius: 50%;
}

.circleContainer {
  display: flex;
  justify-content: space-between;
}

.circleBot {
  width: 404px;
  height: 413px;
  margin: 96px 11px 474px 8px;
  padding: 173px 143px 172px;
  opacity: 0.2;
  background-color: #000000;
  border-radius: 50%;
  margin-top: 300px;
}

#circleTitle {
  opacity: 1;
  font-family: OpenSans;
  font-size: 25px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: center;
}
