.commercial-cont{
    width: 100%;
}
.type-1-cont{
    background-image: url("/img/ashwini-chaudhary-iu6parqao-u-unsplash@1x.png");
    background-size:cover;

    animation: backgroudMoving2 16s infinite alternate;
}

.janitorial-cont{
    overflow: hidden;

}
.type-2-cont:nth-child(1){
    background-image: url("/img/christian-mackie-ldlu1zbjgqa-unsplash@1x.png");
    background-size:cover;
}
.type-2-cont:nth-child(2){
    background-image: url("/img/pexels-pawe--l-1253800@1x.png");
    background-size:cover;  
}
.type-2-cont:nth-child(3){
    background-image: url("/img/benjamin-child-gwe0dlvd9e0-unsplash@1x.png");
    background-size:cover;
}
.type-2-cont:nth-child(4){
    background-image: url("/img/erin-hervey-3uqtx0k6wac-unsplash@1x.png");
    background-size:cover;
}
.type-2-cont:nth-child(5){
    background-image: url("/img/benjamin-child-0st9yhngses-unsplash@1x.png");
    background-size:cover;
}
.typ3-cont-cont {
    background-image: url("/img/gabrielle-henderson-hjckknwcxxq-unsplash@1x.png");
    background-size:cover;
}