.commercial-cont{
    width: 100%;
}
.type-1-cont{
    // background-image: url("/img/ashwini-chaudhary-iu6parqao-u-unsplash@1x.png");
    background-image: url("/img/a.jpg");
    background-size:cover;

    animation: backgroudMoving2 16s infinite alternate;
}
.type-1-1cont{
    background-image: url("/img/supplybanner.jpg");
    background-size:cover;

    animation: backgroudMoving2 16s infinite alternate;
}
@media screen and (max-width: 440px){
    .type-1-cont{
        background-image: url("/img/ashwini-chaudhary-iu6parqao-u-unsplash@1x.png");
        background-size:cover;
        display: none;
    }
}

.janitorial-cont{
    overflow: hidden;

}
.type-2-cont:nth-child(1){
    background-image: url("/img/christian-mackie-ldlu1zbjgqa-unsplash@1x.png");
    background-size:cover;
}
.type-2-cont:nth-child(2){
    background-image: url("/img/pexels-pawe--l-1253800@1x.png");
    background-size:cover;  
}
.type-2-cont:nth-child(3){
    background-image: url("/img/benjamin-child-gwe0dlvd9e0-unsplash@1x.png");
    background-size:cover;
}
.type-2-cont:nth-child(4){
    background-image: url("/img/erin-hervey-3uqtx0k6wac-unsplash@1x.png");
    background-size:cover;
}
.type-2-cont:nth-child(5){
    background-image: url("/img/benjamin-child-0st9yhngses-unsplash@1x.png");
    background-size:cover;
}
.typ3-cont-cont {
    background-image: url("/img/gabrielle-henderson-hjckknwcxxq-unsplash@1x.png");
    background-size:cover;
}

.long-ban-t2-rightside{
    border: 3px hidden;
    padding: 0px 15px 0px 15px;
    color: white;
    font-size: 24px;
    width: 80%;
}
#longbanner:hover .long-ban-t2-rightside{
    background-color: rgba(0,0,0,0.8);
    transition: background-color 1s;
    
}
#longbanner:hover .typ2-banner-cntt{
    background-color: rgba(0,0,0,0.8);
    transition: background-color 1s;
}