.Home-cont{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.wall-paper-top-cont {
  width: 100%;
  height: 305px;
  position: relative;
  max-width: 1440px;
  overflow: hidden;
  .wall-paper-top {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("/img/backgroundbanner1.jpg");
    animation: backgroudMoving2 16s infinite alternate;
    background-size: cover;
    z-index: 1;
    box-shadow:inset 0 100px 500px 100px rgba(0, 0, 0, 0.4) ;
    
    @keyframes backgroudMoving2 {
      0% {
        background-position: center;
      }
      100% {
        transform: scale(3);
        background-position: 50% 40%;
      }
    }
  }
}

// .wall-paper-top-title {
//   // border: 1px solid;
//   padding-top: 20px;
//   padding-left: 70px;
//   padding-bottom: 20px;
//   height: 50px;
//   width: 650px;
//   font-size: 30px;
//   font-weight: 600;
//   line-height: 1.37;
//   letter-spacing: 1.23px;
//   color: #fafafa;
//   z-index: 4;
// }
// .wall-paper-top-body {
//   // border: 1px solid;
//   height: 15px;
//   width: 400px;
//   padding-left: 70px;

//   font-size: 15px;
//   font-weight: 1;
//   color: #fafafa;
// }
// .wall-paper-top-tail {
//   height: 15px;
//   width: 400px;
//   padding-left: 70px;
//   font-size: 20px;
//   color: #fafafa;
// }
// .wall-paper-top-click {
//   border: 2px solid;
//   border-radius: 17px;
//   height: 40px;
//   width: 280px;
//   color: #fafafa;
//   margin-top: 35px;
//   margin-left: 70px;
//   text-align: center;
//   padding-top: 20px;
//   font-weight: 600;
//   z-index: 3;
//   &:hover {
//     color: #004890;
//     cursor: pointer;
//   }
// }

.wall-paper-bottom-dash_v2{
  position: relative;
  margin-top: 40px;
  width: 100%;
  max-width: 1440px;
  height: 305px;
  background-image: url("/img/pexels-michelangelo-buonarroti-4176369@1x.png");
  background-position: 50% 100%;
  box-shadow: inset 0 100px 500px 100px rgba(0, 0, 0, 0.4);
  display: flex;
  .wall-paper-title-cont-V2{
    display: block;
    width: 65%;
    // border:1px solid white;
  }
  .video-cont{
    margin:auto;
  }
  .wall-paper-bottom-title_v2{
    padding-left: 100px;
    padding-top: 100px;
    text-align: center;
    width: 50%;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 1.23px;
    color: #fafafa;
  }
  .wall-paper-bottom-click_v2{
    margin-top: 40px;
    margin-left: 215px;
    border: 2px solid;
    border-radius: 17px;
    height: 30px;
    width: 210px;
    color: #fafafa;
    text-align: center;
    padding: 15px 10px 3px 10px;
    font-weight: 600;
    
    
    &:hover {
      border: 3px solid;
      cursor: pointer;
    }
    &:active {
      margin-top: 43px;
      border: 3px solid;
      color: white;
    }
  }
}


.wall-paper-bottom-dash {
  position: relative;
  margin-top: 40px;
  width: 100%;
  max-width: 1440px;
  height: 305px;
  // background: black;
  // display: block;
  background-image: url("/img/pexels-michelangelo-buonarroti-4176369@1x.png");
  // background-position: 50% 60%;
  animation: backgroudMoving 8s infinite alternate;
  z-index: 1;
  @keyframes backgroudMoving {
    0% {
      background-position: 00% 00%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  .darker {
    position: absolute;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    max-width: 1440px;
    height: 305px;
  }
}
.wall-paper-bottom-title {
  // border: 1px solid white;
  position: absolute;
  left: 640px;
  padding-top: 100px;
  text-align: center;
  width: 50%;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 1.23px;
  color: #fafafa;
  z-index: 4;
}
.wall-paper-bottom-click {
  position: absolute;
  margin-top: 190px;
  margin-left: 900px;
  border: 2px solid;
  border-radius: 17px;
  height: 30px;
  width: 210px;
  color: #fafafa;
  text-align: center;
  padding-top: 15px;
  font-weight: 600;

  z-index: 4;
  &:hover {
    border: 3px solid;
    cursor: pointer;
  }
  &:active {
    margin-top: 193px;
    border: 3px solid;
    color: white;
  }
}

.introduce-cont {
  margin-top: 70px;
  // border: 1px solid red;
  width: 100%;
  display: flex;
  // min-width: 1080px;
  display: flex;
  flex-wrap: wrap;
}
.introduce-pic-cont {
  // border: 1px solid;
  margin: auto;
  display: flex;
  width: 435px;
  height: 435px;
  align-self: center;
  justify-content: center;
}
.introduce-pic-logo {
  height: 100%;
  width: 435px;
  // border: 1px solid;
  text-align: center;
  position: relative;
  margin: auto;

  .triup {
    right: 120px;
    position: absolute;
    width: 200px;
    height: 166px;
    z-index: 2;
  }
  .tridown {
    right: 120px;
    top: 195px;
    position: absolute;
    width: 200px;
    height: 166px;
    z-index: 2;
  }
  .trileft {
    right: 260px;
    top: 235px;
    position: absolute;
    width: 200px;
    height: 166px;
    z-index: 2;
  }
  .triright {
    right: -20px;
    top: 235px;
    position: absolute;
    width: 200px;
    height: 166px;
    z-index: 2;
  }
  .a {
    position: absolute;
    color: white;
    top: 90px;
    left: 170px;
    z-index: 4;
    // font-family: OpenSans;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    .red {
      color: #be271b;
    }
  }
  .p {
    position: absolute;
    color: white;
    top: 244px;
    left: 165px;
    z-index: 4;
    // font-family: OpenSans;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    .blue {
      color: #004890;
    }
  }
  .e {
    position: absolute;
    color: white;
    top: 320px;
    left: 30px;
    z-index: 4;
    // font-family: OpenSans;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    .red {
      color: #be271b;
    }
  }
  .x {
    position: absolute;
    display: flex;
    color: white;
    top: 310px;
    left: 293px;
    z-index: 4;
    font-size: 17px;
    font-weight: 600;
    height: 40px;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 0, 0, .0);
    max-width: 131px;
  }
  .redX {
    top: 310px;
    left: 316px;
    font-size: 17px;
    font-weight: 600;
    height: 40px;
    color: #be271b;
    position: absolute;
    z-index: 4;
  }
}

.introduce-stringbox {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  // border: 1px solid ;
  width: 630px;
  height: 680px;
  display: block;

  .innerbox {
    margin-right: 100px;
    display: block;
    width: 598px;
    height: 560px;
    // border: 1px solid red;
  }
}
.introduce-string-title {
  // border: 1px solid;
  width: 100%;
  height: 40px;

  font-size: 29px;
  font-weight: bold;
  text-align: left;
}
.introduce-string-textbox1 {
  margin-top: 20px;
  float: right;
  // border: 1px solid;

  width: 100%;
  height: 110px;
  font-size: 16px;
}
.introduce-string-textbox2{
  float: right;
  // border: 1px solid;

  width: 100%;
  height: 110px;
  font-size: 16px;
}
.section-cont {
  display: flex;
  width: 100%;
  // border: solid 1px yellow;
  justify-content: space-between;
  padding-top: 35px;
}
.section-title {
  padding: 5px;
  border-radius: 17px;
  border: 3px solid;
  height: 100%;
  width: 172px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  &:hover{
    border: 5px solid #004890;
    color:#004890;
    font-size: 20px;
    cursor: pointer;
    width: 180px;
    transition: all 1s;
  }
}

#popupbtn1:hover + #popup1{
  display: block;
  opacity: 1;
  animation: popupDown 1s forwards;
  @keyframes popupDown {
    0%{margin-top: 45px;}
    100%{margin-top: 50px;}
  }
}
#popupbtn2:hover + #popup2{
  display: block;
  opacity: 1;
  animation: popupDown 1s forwards;
  @keyframes popupDown {
    0%{margin-top: 45px;}
    100%{margin-top: 50px;}
  }
}
#popupbtn3:hover + #popup3{
  display: block;
  opacity: 1;
  animation: popupDown 1s forwards;
  @keyframes popupDown {
    0%{margin-top: 45px;}
    100%{margin-top: 50px;}
  }
}

.popup{
  display: none;
  margin-top: 45px;
  opacity: 0;
  padding: 15px;
  position: absolute;
  background-color:white ;
  width: 600px;
  height: 300px;
  border: 5px solid #004890;
  font-size: 30px;
  border-radius: 17px;
}


.section-textbox-cont {
  display: flex;
  // border: 1px solid ;
  margin-top: 15px;
  width: 100%;
  height: 260px;
  justify-content: space-between;
  font-size: 16px;
}
.section-textbox {
  // border: 1px solid;
  width: 172px;
  height: 290px;
  
}
.our-services-title {
  // border: 1px solid;
  margin-top: 120px;
  width: 100%;
  height: 25px;
  text-align: center;

  font-size: 30px;
  font-weight: bold;
}

.our-services-pic-cont {
  margin-top: 60px;
  // border: 1px solid;
  width: 100%;
  height: 299px;
  display: flex;

  .inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 95%;
    margin:auto;
  }
}
.our-services-pic {
  width: 378px;
  height: 299px;
  background-position: center;
  .darker{
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    font-size: 29px;
    font-weight: 600;  
    color: white;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    &:hover{
      background-color: rgba(34, 85, 194, 0.1);
      font-size: 30px;
      text-decoration: underline;
    }
  }
}
.Areas-we-service-title {
  margin-top: 120px;
  // border: 1px solid;
  width: 100%;
  height: 25px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.Areas-we-services-pic-cont {
  display: flex;
  flex-wrap: wrap;
  // border: 1px solid;
  padding-top: 60px;
  margin-top: 20px;
  margin: auto;
  width: 98%;
  justify-content: center;
  // height: 680px;
  
  .Areas-we-services-pic1 {
    border-radius: 50%;
    // border: 1px solid black;
    width: 300px;
    height: 300px;
    text-align: center;
    background-image: url("/img/area1.png");
    background-size: cover;
    color: white;
    &:hover{
      transform: scale(1.05);
      transition: transform 0.1s linear;

    }
    .logo-title {
      font-size: 25px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding-top: 80px;
    }
  }
  .Areas-we-services-pic2 {
    border-radius: 50%;
    // border: 1px solid;
    width: 300px;
    height: 300px;
    margin-top: 170px;
    text-align: center;
    background-image: url("/img/area2.png");
    background-size: cover;
    color: white;
    &:hover{
      transform: scale(1.05);
      transition: transform 0.1s linear;

    }
    .logo-title {
      font-size: 25px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding-top: 80px;
    }
  }
  .Areas-we-services-pic3 {
    border-radius: 50%;
    // border: 1px solid;
    width: 300px;
    height: 300px;
    text-align: center;
    background-image: url("/img/area3.png");
    background-size: cover;
    color: white;
    &:hover{
      transform: scale(1.05);
      transition: transform 0.1s linear;
    }
    .logo-title {
      font-size: 25px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding-top: 80px;
    }
  }
  .Areas-we-services-pic4 {
    border-radius: 50%;
    // border: 1px solid;
    width: 300px;
    height: 300px;
    margin-top: 170px;
    background-image: url("/img/area4.png");
    background-size: cover;
    color: white;
    &:hover{
      transform: scale(1.05);
      transition: transform 0.1s linear;

    }
    .logo-title {
      font-size: 25px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.36;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      padding-top: 80px;
    }
  }
}
@media screen and (max-width: 1241px){

  .introduce-stringbox{
    flex-direction: column;
  }
  .Areas-we-services-pic-cont{
    .Areas-we-services-pic1{
      width: 250px; height: 250px; 
    }
    .Areas-we-services-pic2{
      width: 250px; height: 250px; 
    }
    .Areas-we-services-pic3{
      width: 250px; height: 250px; 
    }
    .Areas-we-services-pic4{
      width: 250px; height: 250px; 
    }
  }
}
@media screen and (max-width: 1037px){

  .introduce-stringbox{
    flex-direction: column;
  }
  .Areas-we-services-pic-cont{
    .Areas-we-services-pic1{
      width: 220px; height: 220px; 
    }
    .Areas-we-services-pic2{
      width: 220px; height: 220px;
    }
    .Areas-we-services-pic3{
      width: 220px; height: 220px; 
    }
    .Areas-we-services-pic4{
      width: 220px; height: 220px; 
    }
  }
}
@media screen and (max-width: 812px){

  .introduce-stringbox{
    flex-direction: column;
  }
  .Areas-we-services-pic-cont{
    .Areas-we-services-pic1{
      width: 185px; height: 185px;
    }
    .Areas-we-services-pic2{
      width: 185px; height: 185px;
    }
    .Areas-we-services-pic3{
      width: 185px; height: 185px;
    }
    .Areas-we-services-pic4{
      width: 185px; height: 185px;
    }
  }
}
@media screen and (max-width: 736px){

  .introduce-stringbox{
    flex-direction: column;
  }
  .Areas-we-services-pic-cont{
    .Areas-we-services-pic1{
      width: 170px; height: 170px;
      .logo-title{
        font-size: 16px;
      } 
    }
    .Areas-we-services-pic2{
      width: 170px; height: 170px;
      .logo-title{
        font-size: 16px;
      } 
    }
    .Areas-we-services-pic3{
      width: 170px; height: 170px;
      .logo-title{
        font-size: 16px;
      } 
    }
    .Areas-we-services-pic4{
      width: 170px; height: 170px;
      .logo-title{
        font-size: 16px;
      } 
    }
  }
}
@media screen and (max-width: 667px){

  .introduce-stringbox{
    flex-direction: column;
  }
  .Areas-we-services-pic-cont{
    .Areas-we-services-pic1{
      width: 150px; height: 150px;
    }
    .Areas-we-services-pic2{
      width: 150px; height: 150px;
      margin-top:120px;
    }
    .Areas-we-services-pic3{
      width: 150px; height: 150px;
    }
    .Areas-we-services-pic4{
      width: 150px; height: 150px;
      margin-top:120px;
    }
  }
}
@media screen and (max-width: 440px){
  .introduce-cont{
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin:auto;
    min-width: 0;
    // border: 1px solid;
  }
  
  .introduce-pic-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // border: 1px solid;
    .a{left: 150px}
    .p{left: 150px}
    .e{left: 10px}
    .x{left: 273px}
    .redX{left: 293px}
  }
  .introduce-pic-logo{
    transform: scale(0.6);
    // border: 1px solid;
  }
  .introduce-stringbox{
    margin: auto;
    width: 100%;
    .innerbox{
      float:initial;
      margin: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
  .introduce-string-title{
    text-align: center;
    width: 100%;
    height: 60px;
  }
  .section-cont{
    margin-top: 40px;
  }
  .section-title{
    padding-bottom: 0px;
    padding-top: 5px;
    height: 25px;
  }
  .popup{
    padding: 0px;
    width: 97%;
    height: 500px;
    font-size: 30px;
  }
  .our-services-pic-cont {
    height: 100%;
    
  }
  .our-services-pic {
    width: 100%;
    background-position: center;
  }
  .Areas-we-services-pic-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 450px;
    .Areas-we-services-pic1{
      width: 220px; height: 220px; 
      margin-top:0px; margin-bottom: 0px;}
    .Areas-we-services-pic2{
      width: 220px; height: 220px;
      margin-top:0px; margin-bottom: 0px;}
    .Areas-we-services-pic3{
      width: 220px; height: 220px; 
      margin-top:0px; margin-bottom: 0px;}
    .Areas-we-services-pic4{
      width: 220px; height: 220px;
      margin-top:0px; margin-bottom: 0px;}
  }
  .wall-paper-bottom-dash_v2{
    display: none;
  }
}
@media screen and (max-width: 415px){

  .introduce-stringbox{
    flex-direction: column;
  }
  .Areas-we-services-pic-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .Areas-we-services-pic1{
      width: 187px; height: 187px; 
      margin-top:0px; margin-bottom: 0px;}
    .Areas-we-services-pic2{
      width: 187px; height: 187px; 
      margin-top:0px; margin-bottom: 0px;}
    .Areas-we-services-pic3{
      width: 187px; height: 187px; 
      margin-top:0px; margin-bottom: 0px;}
    .Areas-we-services-pic4{
      width: 187px; height: 187px; 
      margin-top:0px; margin-bottom: 0px;}
  }
}
@media screen and (max-width: 375px){
  .introduce-pic-cont{
    .a{left: 110px}
    .p{left: 110px}
    .e{left: -30px}
    .x{left: 233px}
    .redX{left: 256px}
  }
}
@media screen and (max-width: 320px){
  .introduce-pic-logo{
    // border: 1px solid;
    .a{left: 60px}
    .p{left: 60px}
    .e{left: -80px}
    .x{left: 183px}
    .redX{left: 203px}
  }
  .Areas-we-services-pic-cont{
    height: 360px;
    .Areas-we-services-pic1{
      width: 130px; height: 130px;
      .logo-title{
        font-size: 12px;
      }
    }
    .Areas-we-services-pic2{
      width: 130px; height: 130px;
      .logo-title{
        font-size: 12px;
      }
    }
    .Areas-we-services-pic3{
      width: 130px; height: 130px;
      .logo-title{
        font-size: 12px;
      }
    }
    .Areas-we-services-pic4{
      width: 130px; height: 130px;
      .logo-title{
        font-size: 12px;
      } 
    }
  }
}